# Node
node_modules/
packages/*/node_modules/

# Build outputs
dist/
packages/*/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
packages/*/npm-debug.log*
packages/*/yarn-debug.log*
packages/*/yarn-error.log*
packages/*/pnpm-debug.log*

# OS
.DS_Store
Thumbs.db
packages/*/.DS_Store
packages/*/Thumbs.db

# Vite
.vite/
packages/*/.vite/
# Vite config timestamps
dev-app/vite.config.ts.timestamp-*

# Turbo
.turbo/
packages/*/.turbo/

# TypeScript
*.tsbuildinfo
packages/*/*.tsbuildinfo

# Env
.env
.env.*
packages/*/.env
packages/*/.env.*

# Yarn
.yarn/

# Editor
.idea/
.vscode/
*.swp
packages/*/.idea/
packages/*/.vscode/
packages/*/*.swp

# Tailwind JIT cache
.tailwind*
packages/*/.tailwind*

# Coverage
coverage/
packages/*/coverage/

# Misc
*.log
packages/*/*.log
packages/*/tsup.config.bundled*

# Next
.next/